{{ define "issue_cert" }}
    {{ $host := .Host }}

    echo "Generating ssl certificates"
    pushd /etc/nginx/certs
    /opt/certificates/bin/issue-cert --name {{ $host }} --domain {{ $host }}
    popd

{{ end }}